---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Current Projects</div>
  </div>

  <HorizontalCard
    title="GoalSumo.com"
    img="/target-goals-comp.png"
    desc="GoalSumo is my pride and joy. I'm co-founding GoalSumo.com with award-winning author MJ DeMarco. GoalSumo is a new productivity and goal setting tool designed for industry professionals and entrepreneurs to help visualize and strategize their dream lives."
    url="https://goalsumo.com"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="The Backstage"
    img="/backstage.png"
    desc="The Backstage is a weekly email membership where I share the trials and tribulations of building a software business as a technical co-founder. I've made a lot of mistakes along the way, and I share them so that you don't have to make the same ones."
    url="https://the-backstage-pass.ck.page/cc1d85e369"
    badge="100% Free!"
  />
  <div class="divider my-0"></div>
  <div class="text-center text-xs italic text-gray-500 hidden">
    <p>There's another project in the works coming soon, but we're not ready to share the details of this project just yet!</p>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-3 mt-8">Github Contributions</div>
  </div>

  <div>
    <img src="https://media.cleanshot.cloud/media/28091/MFgwoi9pWWUIIWIMLOxSxm7KcRZCVOrYyLjSloV1.jpeg?Expires=1698356622&Signature=EjuTkqlpG0MHPLaODvbOdcnYYJGhCTpEbGGZeR98zloYVyHhDbUuHXDQbyrxTXFe9aFzcZP7Sz3DvenWBvbc8nJHRRd2llc26DxEhfyb3zhFHS8RkCAk4ZCHCimjn7pfzc0hs9gvz7TM4zVPUkO9aFAIbmv-Od47n6JAFNy-WRSzS4aoIAd3ocUII8zTpuCFBlzEquhn5m1V-PCkF-9yHj0dWRSaEyBd5nNYFd8RrAtXENw9glJzcqGDQ4SYUAdE-wWasUPl8bWj9dysT7XhZXahfpdj4MYGPuvhZlsFWfCrEzh4xcMoxZhqRgA0-DIQXGMN7RUwBwRjeZbtt2yVMw__&Key-Pair-Id=K269JMAT9ZF4GZ" alt="github-contributions-graph"/>
  </div>
  <div class="px-1.5">
    <img src="https://media.cleanshot.cloud/media/28091/YI9gxnlrtyakiSLWIPKvhSwpa3GzDIGJZUh5drOQ.jpeg?Expires=1698356724&Signature=nA4I2ymww~1T-eYH-0nVNMBwXTgiUDO974uh8VvY5XSYQKLKAgsTOgOgdJ37UTPk5i1dcQko4b2FSGRJpufzyyeDfZJscSJRmD6Tm19zdPww0bF7L6oPPR~ta7eB2S8weAfsFFh35f88jz-J-ovccKcMNC4DYGcbQ6QD~NBwrIV8yQx0aTzYP3XyaKWcyWY-gmfkP4xkXtmPn7la6ox6rECER3c9ZDIaJh1WdrfF2GEKlh~qNq8Arxoakh1aoDdu2LpoXanP9GzjYNw3e0AvJi8P8cled3i6I5lvFfsiw10JWYTRYWICkBy~zYCDDQ1dJKr10bFNSDK7kcOGksNVGw__&Key-Pair-Id=K269JMAT9ZF4GZ" alt="github-contributions-graph-2022"/>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Previous Involvement</div>
  </div>

  <HorizontalCard
      title="Decision Revision"
      img="/compass-comp.png"
      desc="Decision Revision was a web and mobile app available for iOS and Android devices. I discontinued development on Decision Revision to focus on GoalSumo.com full time about 2 years ago. It was an app designed to be the easiest WADM (Weighted Average Decision Matrix) decision making framework tool."
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Flippum Mobile"
    img="/flippum-icon.webp"
    desc="In partnership with my friend Turner Eison, I contributed to the design and development of the mobile app Flippum. This app started as a Flippa aquisition, and led to a complete rewrite of the app. Development of Flippum is discontinued, but the app is still available on the App Store."
    url="https://apps.apple.com/us/app/flippum/id1421559360"
  />
  <!--<div class="divider my-0"></div>-->
  <!--<HorizontalCard-->
  <!--  title="Demo Project 5"-->
  <!--  img="/post_img.webp"-->
  <!--  desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."-->
  <!--  url="#"-->
  <!--/>-->
</BaseLayout>
