---
const { sideBarActiveItemID } = Astro.props;
const activeClass = "bg-base-300"; // For primary color replace with `active` class
---

<ul class="menu grow shrink menu-md overflow-y-auto space-y-1">
    <li><a class="py-3 text-base rounded-lg" id="home" href="/">Home</a></li>
    <li><a class="py-3 text-base rounded-lg" id="projects" href="/projects">Projects</a></li>
    <li><a class="py-3 text-base rounded-lg" id="services" href="/hobbies">Hobbies</a></li>
    <li><a class="py-3 text-base rounded-lg" id="blog" href="/blog/">Blog</a></li>
    <li><a class="py-3 text-base rounded-lg" id="cv" href="/cv">CV</a></li>
    <!--<li>-->
    <!--    <a-->
    <!--        class="py-3 text-base"-->
    <!--        href="mailto:personal@deanirwin.co"-->
    <!--        target="_blank"-->
    <!--        referrerpolicy="no-referrer-when-downgrade">Contact</a-->
    <!--    >-->
    <!--</li>-->
</ul>

<script define:vars={{ sideBarActiveItemID: sideBarActiveItemID, activeClass: activeClass }}>
const activeItemElem = document.getElementById(sideBarActiveItemID);
activeItemElem && activeItemElem.classList.add(activeClass);
</script>
